---
---

<div id="lb" aria-hidden="true">
  <button id="lb-x" type="button" aria-label="Close">&#x2715; &nbsp;Close</button>
  <div id="lb-inner">
    <img id="lb-img" src="" alt="" />
  </div>
  <p id="lb-cap"></p>
</div>
